{% extends 'main/layout.html' %}

{%block title%}Про нас{% endblock %}

{% block сontent %}
    <h1>Информация о комании</h1>
    <p>Предприятие занимается настройкой, ремонтом и обслуживанием компьютерной техники и периферийных устройств, а также оказывает настройку рабочих мест клиента.</p>
    <p>При первом обращении клиент оставляет о себе всю необходимую контактную информацию (ФИО, адрес, данные паспорта). Сотрудник центра обязан ознакомить клиента с предлагаемым перечнем оказываемых услуг. При заключении договора указывается его номер, дата заключения, фамилия клиента, дата заключения, срок выполнения, а также прилагается полный список всех оказываемых услуг. Известно, что в рамках одного договора, сервисный центр может оказать несколько видов услуг разного количества. Всю полученную информацию сотрудник заносит в базу данных.</p>
{% endblock %}