{% extends 'main/layout.html' %}

{%block title%}Регистрация{% endblock %}

{% block сontent %}
    <form method="post">
        {% csrf_token %}
        <label for="login">Введите логин</label>
        <input type="text" id="login" name="login" required><br><br>

        <label for="password">Введите пароль</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="login">Введите имя</label>
        <input type="text" id="frstName" name="frstName" required><br><br>

        <label for="login">Введите фамилию</label>
        <input type="text" id="secondName" name="secondName" required><br><br>

        <label for="login">Введите отчество</label>
        <input type="text" id="lastName" name="lastName" required><br><br>

        <label for="login">Введите номер телефона в форме +375 (29) XXX-XX-XX</label>
        <input type="text" id="phone" name="phone" required><br><br>

        <label for="login">Введите паспортные данные</label>
        <input type="text" id="pasport" name="pasport" required><br><br>

        <label for="login">Введите дату рождения</label>
        <input type="date" id="date" name="date">

        <button type="submit">Зарегестрироваться</button>
    </form>
{% endblock %}